/*
  style.css
  LocalGov Drupal France

  Table of Contents
  -----------------
  1. Fonts
  2. Variables
  3. Elements
  4. Utilities
  5. Classes
*/

/* Fonts */
/* Inter Font Family */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/static/Inter_18pt-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/static/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/static/Inter_18pt-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/static/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/static/Inter_18pt-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/static/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/static/Inter_18pt-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Lora Font Family */
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/static/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/static/Lora-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/static/Lora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/static/Lora-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/static/Lora-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/static/Lora-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/static/Lora-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora/static/Lora-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Variables */
:root {
  /* Colours */
  --color-accent: #ffe146;
  --color-accent-light: #ffee98;
  --color-accent-2: #004459;
  --color-accent-3: #ff8262;
  --color-accent-3-light: #ffe0d7;

  /* Grey Scale */
  --color-white: #fff;
  --color-grey-lightest: #f9f9f9;
  --color-grey-lighter: #eaeaea;
  --color-grey-light: #cecfd0;
  --color-grey-medium: #b1b4b6;
  --color-grey-dark: #505a5f;
  --color-black: #0b0c0c;

  /* Fonts */
  --font-primary: "Inter", oxygen, ubuntu, cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  --font-secondary: "Lora", "Times New Roman", times, serif;

  /* Widths and Spacing */
  --width-mega: 90rem; /* 1440px */
  --width-extra-large: 73.75rem; /* 1180px */
  --width-large: 60rem;
  --width-medium: 48rem;
  --width-small: 30rem;
  --width-container: var(--width-extra-large);
  --width-restricted-width-section: var(--width-medium);
  --spacing-smallest: calc(var(--spacing) * 0.25);
  --spacing-smaller: calc(var(--spacing) * 0.5);
  --spacing-small: calc(var(--spacing) * 0.75);
  --spacing: 1rem;
  --spacing-large: calc(var(--spacing) * 1.5);
  --spacing-larger: calc(var(--spacing) * 2);
  --spacing-largest: calc(var(--spacing) * 2.5);
  --spacing-mega: calc(var(--spacing) * 3);
  --spacing-padding-horizontal: var(--spacing);
  --line-height: 1.5;
  --vertical-rhythm-spacing: calc(var(--line-height) * 1rem);

  /* Font Sizes */
  --font-size: 1rem;
  --font-size-smallest: calc(var(--font-size) * 0.3);
  --font-size-smaller: calc(var(--font-size) * 0.5);
  --font-size-small: calc(var(--font-size) * 0.75);
  --font-size-medium: calc(var(--font-size) * 1);
  --font-size-large: calc(var(--font-size) * 1.3125);
  --font-size-larger: calc(var(--font-size) * 1.6875);
  --font-size-largest: calc(var(--font-size) * 2.875);
  --font-size-h1: clamp(
    var(--font-size-larger),
    10vw,
    var(--font-size-largest)
  );
  --font-size-h2: clamp(var(--font-size-large), 8vw, var(--font-size-larger));
  --font-size-h3: clamp(var(--font-size-medium), 6vw, var(--font-size-large));
  --font-size-h4: var(--font-size-medium);
  --font-size-h5: var(--font-size-medium);
  --font-size-h6: var(--font-size-medium);

  /* Border Properties */
  --border-width: 1px;
  --border-width-large: 5px;
  --border-color: var(--color-grey-light);
  --border-color-dark: var(--color-grey-dark);
  --border-color-light: var(--color-grey-lightest);
  --border-color-accent: var(--color-accent);
  --border-color-alert: var(--color-black);
  --border-style: solid;
  --border-radius: var(--spacing-smallest);
  --border-radius-large: var(--spacing-large);

  /* Borders */
  /* Borders: Standard */
  --border: var(--border-width) var(--border-style) var(--border-color);
  --border-light: var(--border-width) var(--border-style)
    var(--border-color-light);
  --border-dark: var(--border-width) var(--border-style)
    var(--border-color-dark);
  --border-accent: var(--border-width) var(--border-style)
    var(--border-color-accent);
  --border-transparent: var(--border-width) var(--border-style) transparent;

  /* Borders: Large */
  --border-large: var(--border-width-large) var(--border-style)
    var(--border-color);
  --border-large-dark: var(--border-width-large) var(--border-style)
    var(--border-color-dark);
  --border-large-light: var(--border-width-large) var(--border-style)
    var(--border-color-light);
  --border-large-accent: var(--border-width-large) var(--border-style)
    var(--color-accent);
  --border-large-transparent: var(--border-width-large) var(--border-style)
    transparent;

  /* Animation */
  --transition-time: 0.3s;
}

/* Elements */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: var(--line-height);
  font-family: var(--font-primary);
}

header {
  padding-block-start: var(--spacing);
  background-color: var(--color-accent);
}


footer {
  padding-block: var(--spacing);
  background-color: var(--color-accent);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-primary);
  line-height: 1.2;
}

h1,
.h1 {
  font-size: var(--font-size-h1);
}

h2,
.h2 {
  font-size: var(--font-size-h2);
}

h3,
.h3 {
  font-size: var(--font-size-h3);
}

a {
  transition: var(--transition-time);
}

a:focus {
  outline-color: var(--color-black);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

:where(:not(dialog)) {
  margin-block-start: 0;
}

:where(input, textarea, select, button) {
  font-family: inherit;
  font-size: var(--font-size);
  line-height: inherit;
}

:where(button, [type="button"], [type="reset"], [type="submit"], .button) {
  display: inline-block;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: var(--color-white);
  padding: var(--spacing-small) var(--spacing-large);
  border-radius: 1000px;
  text-decoration: none;
  transition: var(--transition-time);
  color: var(--color-black);
}

.button--light {
  background-color: var(--color-accent-3);
  color: var(--color-black);
}

:where(button, [type="button"], [type="reset"], [type="submit"], .button):hover,
:where(
    button,
    [type="button"],
    [type="reset"],
    [type="submit"],
    .button
  ):focus {
  background-color: var(--color-accent);
}

/* Utilities */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.lgd-container {
  max-width: var(--width-container);
  margin-inline: auto;
}

.lgd-container--medium {
  max-width: var(--width-medium);
}

.lgd-container--small {
  max-width: var(--width-small);
}

.lgd-container--large {
  max-width: var(--width-large);
}


.padding-horizontal {
  padding-inline: var(--spacing);
}

.flow > * + * {
  margin-block-start: var(--vertical-rhythm-spacing);
}

.list-horizontal {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-large);
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Classes */

/* Sections */
.section {
  padding-block: var(--spacing-largest);
}

.section--bg-accent {
  background-color: var(--color-accent);
}

.section--bg-accent-2 {
  background-color: var(--color-accent-2);
}

.section--bg-accent-3 {
  background-color: var(--color-accent-3);
}

.section--bg-accent-3-light {
  background-color: var(--color-accent-3-light);
}

.section + .section {
  border-block-start: var(--border-dark);
}

.section + .section--bg,
.section--bg + .section {
  border-block-start: none;
}

.section__header,
.section__footer {
  text-align: center;
  margin-block-end: var(--spacing-larger);
}

/* Header */
.header__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--spacing);
}

.header__branding {
  display: grid;
  gap: var(--spacing);
  grid-template-columns: 8rem 1fr;
  padding-block-end: var(--spacing);
}

.header__branding-slogan {
  border-inline-start: var(--border-dark);
  padding-inline-start: var(--spacing);
}

.header__nav {
  display: none;
  align-self: end;
}

.header__nav ul {
  display: flex;
  gap: var(--spacing);
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: var(--font-size-h3);
}

.header__nav a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-black);
  padding: var(--spacing-smaller) var(--spacing-large);
}
.header__nav a:focus,
.header__nav a:hover {
  background-color: var(--color-accent-light);
}

.header__menu-button:hover,
.header__menu-button:focus {
  background-color: var(--color-accent-2);
  color: var(--color-white);
}

@media screen and (min-width: 48rem) {
  .header__branding {
    grid-template-columns: 11rem 1fr;
  }
  .header__nav {
    display: block;
    margin-inline-start: auto;
  }
  .header__dialog-control {
    display: none;
  }
}

/* Footer */
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-largest);
}
.footer__block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__block a {
  display: block;
  text-decoration: none;
  color: var(--color-black);
  padding: var(--spacing-smaller) var(--spacing-large);
  font-size: var(--font-size-h3);
  font-weight: bold;
}

/* Banner */
.banner {
  padding-block: var(--spacing-mega);
  background-color: var(--color-accent-2);
  color: var(--color-white);
}

.banner__inner {
  display: grid;
  gap: var(--spacing-larger);
}

.banner__first-content p {
  font-family: var(--font-secondary);
}

@media screen and (min-width: 48rem) {
  .banner__inner {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

/* Dialog Menu */
.dialog-menu {
  height: 100vh;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: var(--transition-time);
  width: 300px;
  max-width: 75%;
  border: 0;
  border-inline-end: var(--border-large);
  border-color: var(--color-accent-2);
  background-color: var(--color-accent-3);
}

.dialog-menu[open] {
  transform: translateX(0);
}

.dialog-menu__close {
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing);
}

.dialog-menu__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dialog-menu__menu a {
  display: block;
  text-decoration: none;
  color: var(--color-black);
  padding: var(--spacing-smaller) var(--spacing-large);
  font-size: var(--font-size-h2);
  font-weight: bold;
}
.dialog-menu__menu a:focus,
.dialog-menu__menu a:hover {
  background-color: var(--color-accent-3-light);
}

/* Grid */
.grid {
  display: grid;
  gap: var(--spacing-large);
}
.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid--6 {
  grid-template-columns: repeat(6, 1fr);
}

@media screen and (min-width: 48rem) {
  .grid--large-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--large-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid--large-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid--large-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid--large-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Number Facts */
.number-fact {
  border: var(--border-light);
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
  border-radius: 999rem;
  text-align: center;
}

.number-fact__number {
  font-size: 3rem;
  font-weight: bold;
}

.number-fact__label {
  font-size: var(--font-size-large);
}

@media screen and (min-width: 48rem) {
  .number-fact {
    padding: var(--spacing-large);
  }
  .number-fact__number {
    font-size: 5rem;
  }
}

@media screen and (min-width: 60rem) {
  .number-fact {
    padding: var(--spacing-largest);
  }

  .number-fact__number {
    font-size: 7rem;
  }
}

/* Tile */
.tile-container {
  display: grid;
  gap: var(--spacing-largest);
  grid-template-columns: 1fr;
}

.tile {
  border: var(--border-dark);
  padding: var(--spacing-largest);
  border-radius: var(--border-radius-large);
  background-color: var(--color-white);
}

.tile--centered {
  text-align: center;
}

.tile__content {
  font-family: var(--font-secondary);
  font-size: var(--font-size-h3);
}

@media screen and (min-width: 48rem) {
  .tile-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media with Text */
.media-with-text {
  --media-with-text-colour: var(--color-black);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-large);
  text-align: center;
  color: var(--media-with-text-colour);
}

.media-with-text--reverse {
  flex-direction: row-reverse;
}

.media-with-text--centered .media-with-text__text {
  text-align: center;
}

.media-with-text__media img {
  width: 100%;
  max-width: 300px;
  margin: auto;
  border-radius: var(--border-radius-large);
}

.section--bg-accent-2 .media-with-text {
  --media-with-text-colour: var(--color-white);
}

@media screen and (min-width: 48rem) {
  .media-with-text {
    align-items: center;
    flex-wrap: nowrap;
  }

  .media-with-text > * {
    width: 45%;
    text-align: left;
  }
}

/* Buttons */
.buttons {
  display: flex;
  gap: var(--spacing-large);
}